{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
        <h1 class="display-4">Welcome to LuciCrypto News Network </h1>
        <p class="lead">Your Source For Up To The Minute Crypto currency And Blockchain News .</p>
</div>


<table class="table table-striped table-bordered table-hover ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">24hr High</th>
      <th scope="col">24hr Low</th>
      <th scope="col">MarketCap</th>
    </tr>
  </thead>
  <tbody>

    {% for key,value in price.DISPLAY.items %}

        <tr>
            <td>{{ key }}</td>
            <td>{{ value.USD.PRICE }} </td>
            <td>{{ value.USD.HIGHDAY }}</td>
            <td>{{ value.USD.LOWDAY }}</td>
            <td>{{ value.USD.MKTCAP }}</td>
        </tr>
        <!-- <strong>Name: </strong>{{ key }} <br/> 
        <strong>Price: </strong>{{ value.USD.PRICE }} - {{ value.INR.PRICE }}<br/>
        <strong>Daily High: </strong>{{ value.USD.HIGHDAY }} <br/>
        <strong>Daily Low: </strong>{{ value.USD.LOWDAY }} <br/>
        <strong>MarketCap: </strong>{{ value.USD.MKTCAP }} <br/>
        <hr><br/> -->
    {% endfor %}

  </tbody>
</table>

    <br/><br/><br/>

    <div class="container">
        <div class="row">
            {% for x in api.Data %}
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ x.imageurl }}" alt="{{ x.source }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ x.title }}</h5>
                            <p class="card-text">{{ x.body }}</p>
                            <a href="{{ x.url }}" class="btn btn-secondary">Read more...</a>
                        </div>
                    </div>
                    <br/>
                </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript"> var infolinks_pid = 3210513; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>

{% endblock %}